.venv/
.rpi_ultralytics_venv/
.rpi_tensorflow_venv/
.rock_tensorflow_venv/
.rock_ultralytics_venv/
.mmr689-laptop-venv/

__pycache__/

datasets/
runs/

output2.log

yolov8n.pt
private_data.py

# results/yolov8_FP32_pt/